.address__welcome {
  .oswald-upper();
  color: #111111;
  font-size: 16px;
  line-height: 20px;
  margin: 0;
  padding-right: 2px;

  @media (min-width: @tablet-width) {
    max-width: 178px;
    font-size: 20px;
    line-height: 26px;
    text-align: left;
    padding-right: 0;
  }

  @media (min-width: @desktop-width) {
    padding-right: 0;
  }
}

.address__street {
  font-family: "Arial", sans-serif;
  font-style: normal;
  font-size: 14px;
  line-height: 20px;
  color: #444444;
  margin: 0;

  @media (min-width: @tablet-width) {
    max-width: 160px;
    font-size: 16px;
    text-align: right;
  }

  @media (min-width: @desktop-width) {
  }
}

.address__wrapper {
  display: flex;
  padding: 26px 20px;
  justify-content: space-between;

  @media (min-width: @tablet-width) {
    font-size: 16px;
    padding: 56px 70px;
  }

  @media (min-width: @desktop-width) {
    padding: 56px 80px;
    max-width: 565px;
  }
}
