.advantages__list {
  margin: 0;
  padding: 0;
}

.advantages__title {
  .oswald-black();
  font-size: 36px;
  line-height: 40px;
}

.advantages__description {
  font-family: "Arial", sans-serif;
  font-style: normal;
  font-size: 14px;
  line-height: 18px;
  color: #444444;
}
