.main-header {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  background-color: #ffffff;
  align-items: center;
  padding-top: 10px;
  min-height: 38px;

  @media (min-width: @tablet-width) {
    min-height: 52px;
    padding-left: 30px;
    padding-right: 30px;
    flex-direction: row;
  }

  @media (min-width: @desktop-width) {
    min-height: 59px;
    padding-left: 110px;
    padding-right: 110px;
  }
}
