.page {
  height: 100%;
}

.page__body {
  margin: 0;
  min-height: 100%;
}

.page__promo {
  margin-bottom: 20px;
  height: 480px;

  @media (min-width: @tablet-width) {
    height: 880px;
    margin-bottom: 0;
  }

  @media (min-width: @desktop-width) {
    height: 595px;
    margin-bottom: 82px;
  }
}

.page__addition-catalog {
  margin-bottom: 35px;
  padding: 0 110px;
}

.page__catalog {
  width: 100%;
  margin: 0 auto;
  padding: 0 20px;

  @media (min-width: @tablet-width) {
    padding: 0 30px;
  }

  @media (min-width: @desktop-width) {
    padding: 0 110px;
  }
}

.page__contacts {
  @media (min-width: @desktop-width) {
    display: flex;
    justify-content: space-between;
  }
}

.page__advantages {
  margin-left: 20px;
  margin-right: 20px;
  margin-bottom: 49px;
}

.page__cat-slider {
  margin-left: 20px;
  margin-right: 20px;
  margin-bottom: 40px;
}

.page__example {
  margin: 20px;
  margin-top: 25px;
}

.page__gift {
  margin-bottom: 35px;
}

.page__main-header {
  margin-bottom: 0;
}

.page__programs {
  margin: 20px;
}

.page__result {
  margin: 20px;
  display: flex;
  justify-content: space-between;
  width: 280px;

  @media (min-width: @tablet-width) {
    width: 366px;
  }

  @media (min-width: @desktop-width) {
    width: 366px;
  }
}

.page__sum {
  width: 188px;
  margin: 0 66px;
  margin-bottom: 20px;
}
