.page__addition-catalog {
  margin-bottom: 35px;
}

.page__catalog {
  width: 100%;
  margin-bottom: 0;
}

.page__advantages {
  margin-left: 20px;
  margin-right: 20px;
  margin-bottom: 49px;
}

.page__cat-slider {
  margin-left: 20px;
  margin-right: 20px;
  margin-bottom: 40px;
}

.page__example {
  margin: 20px;
  margin-top: 25px;
}

.page__gift {
  margin-bottom: 35px;
}

.page__main-header {
  margin-bottom: 0;
}

.page__programs {
  margin: 20px;
}

.page__result {
  margin: 20px;
  margin-bottom: 0;
}

.sum__page {
  margin-bottom: 20px;
}
