.programs__list {
  padding: 0;
  margin: 0;
  list-style: none;

  @media (min-width: @desktop-width) {
    display: flex;
  }
}

.programs__item {
  background-color: #f2f2f2;
  margin-bottom: 20px;
  padding-left: 20px;
  text-align: left;

  @media (min-width: @tablet-width) {
    padding-left: 53px;
  }

  @media (min-width: @desktop-width) {

  }
}

.programs__item:nth-child(odd) {
  @media (min-width: @desktop-width) {
    margin-right: 80px;
  }
}

.programs__title {
  font-size: 24px;
  line-height: 37px;
  text-transform: uppercase;
  .oswald-black();
  padding: 30px 0;
  padding-left: 71px;
  margin: 0;

  @media (min-width: @tablet-width) {
    font-size: 36px;
    line-height: 36px;
    padding-top: 77px;
    padding-bottom: 24px;
    padding-left: 0;
  }

  @media (min-width: @desktop-width) {
    text-align: left;
    padding-left: 214px;
    padding-bottom: 73px;
  }
}

.programs__button {
  font-size: 16px;
  line-height: 16px;
  text-transform: uppercase;
  .oswald-black();
  margin-bottom: 18px;

  @media (min-width: @tablet-width) {
    font-size: 16px;
    line-height: 20px;
    margin-bottom: 30px;
  }

  @media (min-width: @desktop-width) {
    margin-bottom: 55px;
  }
}

.programs__description {
  font-family: "Arial", sans-serif;
  font-style: normal;
  font-size: 14px;
  line-height: 18px;
  color: #444444;
  padding-right: 33px;
  padding-bottom: 38px;
  margin: 0;

  @media (min-width: @tablet-width) {
    max-width: 340px;
    font-size: 16px;
    line-height: 24px;
    padding-bottom: 48px;
    padding-right: 0;
  }

  @media (min-width: @desktop-width) {
    text-align: left;
    min-width: 570px;
    padding-bottom: 23px;
    padding-right: 75px;
  }
}
